*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

section{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),url(photo-1618424181497-157f25b6ddd5.jpg);
    background-size: cover;   
}

header{
    width: 100%;
}
nav{
    margin-left:90px;
}

nav h1{
    color: #46fa4f;
    display: inline-block;
    font-size: 60px;
    font-weight: 700;
    margin: 20px 30px ;
}

nav ul{
    display: inline-block;  
    float:right;
    margin-right: 150px;
    margin-top: 20px;
}

nav ul li{
    display: inline-block;
    margin-right: 35px;
}

nav ul li a{
    color: #f26767;
    text-decoration: none;
    font-weight: 700;
    font-size: 20px;
}

nav ul li::after{
    content: '';
    width: 100%;
    height: 4px;
    display: block;
    background: #46fa4f;
    margin-top: 10px;
}

nav ul li:hover::after{
  height: 4px;
  transition: 0.5s;
}

nav ul li:first-child::after{
    height: 4px;
}

div{
    margin-top: 200px;
    text-align: center;
    color: #46fa4f;
}

div h1{
    margin-bottom: 10px;
    font-size: 90px;
    
}



